@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&display=swap');

:root{
    --cor-fundo: #272829;
    --cor-principal: #D8D9DA;
    --cor-secundaria: #61677A;
    --cor-fonte: #ffffff;
    --cor-linha-tabela: #000000; 
}

/* seletor universal da pagina */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* aplica em tag*/
body{
    display: flex;
    background-color: var(--cor-fundo);
}


/*------------------------*/
/* Lateral da Página */
/*------------------------*/
/* ponto antes do nome ele procura por class*/
.lateral{
    font-family: 'Mooli', sans-serif;
    width: 25%;
    text-align: center;
    color: var(--cor-fonte);
}

.foto, .contato, .interesses, .referencias{
    padding: 40px 0px;
}

.contato h2, .interesses h2, .referencias h2{
    padding: 10px 0px;
}

/*------------------------*/
/* Principal */
/*------------------------*/

.principal{
    background-color: var(--cor-principal);
    margin: 50px 0px;
    padding: 30px, 0px, 0px, 50px;
    width: 100%;
    font-family: 'Inclusive Sans', sans-serif;
}