@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mooli&display=swap');

:root{
    --cor-fundo: #272829;
    --cor-principal: #D8D9DA;
    --cor-secundaria: #61677A;
    --cor-fonte: #ffffff;
    --cor-linha-tabela: #000000; 
}

/* seletor universal da pagina */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* aplica em tag*/
body{
    display: flex;
    background-color: var(--cor-fundo);
}


/*------------------------*/
/* Lateral da Página */
/*------------------------*/
/* ponto antes do nome ele procura por class*/
.lateral{
    font-family: 'Mooli', sans-serif;
    width: 25%;
    text-align: center;
    color: var(--cor-fonte);
}

.foto, .contato, .interesses, .referencias{
    padding: 40px 0px;
}

.contato h2, .interesses h2, .referencias h2{
    padding: 10px 0px;
}

.contato h2:hover, .interesses h2:hover, .referencias h2:hover{
    background-color: var(--cor-secundaria);
}

.social{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.contato p, .referencias p, .educacao p, .profissional p, .projetos p{
    margin: 10px 25px;
}

.interesses li{
    margin: 10px 25px;
    text-align: justify;
}

.referencias p{
    margin: 10px 25px;
    text-align: justify;
}

/*------------------------*/
/* Principal */
/*------------------------*/

.principal{
    background-color: var(--cor-principal);
    margin: 50px 0px;
    padding: 30px 0px 0px 50px;
    width: 100%;
    font-family: 'Inclusive Sans', sans-serif;
}

.tecnica, .pessoal, .profissional, .educacao, .certificacao, .projetos, .idioma{
    padding: 10px 0px 20px 0px;
}

.titulo{
    background-color: var(--cor-secundaria);
    color: var(--cor-fonte);
    font-family: 'Mooli', sans-serif;
    display: flex;
    align-items: center;
}

.tecnica ul, .profissional ul, .certificacao ul{
    padding: 15px 0px 15px 50px;
}

.pessoal ol{
    padding: 15px 0px 15px 50px;
}

table{
    margin: 30px 0px 0px 20px;
    border: 2px solid var(--cor-linha-tabela);
    table-layout: fixed;
    border-collapse: collapse;
    background-color: var(--cor-secundaria);
}

thead th:nth-child(1){
    width: 20%;
}
thead th:nth-child(2){
    width: 20%;
}
thead th:nth-child(3){
    width: 20%;
}
thead th:nth-child(4){
    width: 20%;
}
thead th:nth-child(5){
    width: 20%;
}

thead{
    color: var(--cor-fonte);
}

th, td{
    padding: 5px;
}

tbody td{
    text-align: center;
}

/* odd - linha impar = even linha par */
tbody tr:nth-child(odd){
    background-color: var(--cor-principal);
}

tbody tr:nth-child(even){
    background-color: var(--cor-secundaria);
}
.imagem {
    margin: 5px 15px 5px 10px;
}